# Polygon Mainnet Contract Deployment
PRIVATE_KEY=YOUR_DEPLOYER_WALLET_PRIVATE_KEY
POLYGON_MAINNET_RPC=https://polygon-bor-rpc.publicnode.com
POLYGONSCAN_API_KEY=your_polygonscan_api_key
STAKE_TOKEN_ADDRESS=0x9003e7d3fbec68ba1f2a253e7f1be9f631f46c55
REWARD_TOKEN_ADDRESS=0x9003e7d3fbec68ba1f2a253e7f1be9f631f46c55
